*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
}

.box2{
    display: flex;
    flex-wrap: wrap-reverse;

}
.inbox1{
    width: 85%;
    margin: auto;
}
.inbox2{
    width: 85%;
    margin: auto;
    /* padding : auto;  */
}
.school{
    width: 650px;
    margin: auto;
}
#About p{
    width: 650px;
    margin: auto;
}
.box3{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
}

.address{
    width: 50%;
    margin: auto;
    justify-content: center;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left:62px ;
}
.skills img{
    margin: 20px 50px;

}
.skills hr{
    display: none;
}
.skills p{
    display: none;
}
#Contact{
    width: 50%;
    margin: auto;
}

p{
    font-size: larger;
}